<!doctype html>
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css', v=1)}}">
    {% block additional_styles %}{% endblock %}
    <title>{% block title %}GlobeQuest{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <form id="helpForm" method="post" action="/help_redirect">
        <input type="hidden" name="current_page" id="currentPage">
    </form>

    <div class="notify">
        <span id="notifyText"></span>
    </div>
    
    <div class="unavailable">
        Sorry your device is not supported :(
    </div>
    <header>
        {% block header %}
            <img src="{{ url_for( 'static', filename='logo-color.png', v=1)}}" alt="logo" class="logo">
            {% if show_logout %}
                <div class="user_options">
                    {% if logged_in_username %}
                    <a id = 'logged_in_username' class="gradient-text gradient_link" onclick="toggleDropdown(event)" href="#">{{ logged_in_username }}</a>
                    <div class="logout-options">
                        <a class="gradient-text">Log out?</a>
                        <a class="gradient-text" href = "/logout" id="accept_button">Yes</a>
                        <a class="gradient-text" href="#" id="reject_button">No</a>
                    </div>
                    {% else %}
                    <a class="gradient-text gradient_link" href="/login">Login</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}
    </header>
    <div id="content">{% block content %}{% endblock %}</div>

    <footer id="footer">
        {% block footer %}
            GlobeQuest Inc.<br/>
            <a class = "" id = "help_btn">Помощь</a>
        {% endblock %}
    </footer>
    {% block scripts %}
    <script src="{{ url_for( 'static', filename='main.js', v=1)}}"></script>
    {% endblock %}
    
    <script>
        document.getElementsByClassName('logo')[0].addEventListener('click', ()=>{
            location.href = '/';
        });
        
        document.getElementById("help_btn").addEventListener("click", (event) => {
            event.preventDefault();
            post('/help');
        });

        document.getElementById('currentPage').value = window.location.pathname;

        document.addEventListener('keydown', function(event) {
            if (event.key === 'F1') {
                document.getElementById('helpForm').submit();
            }
        });

        const flashMessages = JSON.parse('{{ get_flashed_messages() | tojson | safe }}');

    if (flashMessages.length) {
        const notifyElement = document.querySelector(".notify");
        const notifyTextElement = document.getElementById("notifyText");

        flashMessages.forEach((message, index) => {
            setTimeout(() => {
                notifyTextElement.textContent = message;
                notifyElement.classList.add("active");

                setTimeout(() => {
                    notifyElement.classList.remove("active");
                }, 2000);
            }, index * 2500);
        });
    }

    function toggleDropdown(event) {
        event.preventDefault();
        var logoutOptions = document.querySelector('.logout-options');
        var usernameLabel = document.querySelector('#logged_in_username');

        logoutOptions.classList.toggle('show');
        usernameLabel.classList.toggle('active');
    }

    document.querySelector('.user_options').addEventListener('mouseleave', function() {
        hideTimeout = setTimeout(function() {
            document.querySelector('.logout-options').classList.remove("show");
            document.querySelector('#logged_in_username').classList.remove("active");
        }, 2000);
    });

    document.querySelector('.user_options').addEventListener('mouseenter', function() {
        clearTimeout(hideTimeout);
    });

    document.getElementById("reject_button").addEventListener("click", (event) => {
        event.preventDefault();
        document.querySelector('.logout-options').classList.remove("show");
        document.querySelector('#logged_in_username').classList.remove("active");
    });
    </script>
</body>
</html>
