{% extends "base.html" %}

{% block title %}GlobeQuest{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='usermanual/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='usermanual/de_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='usermanual/custom.css') }}">
<style>
    #content {
        background-image: none;
    }
</style>
{% endblock %}
{% block content %}

    <article>
        <div class="description_on_page">
            <div class="p h1">
                <div class="ic">
                    <h1 style = "font-family: 'Roboto', sans-serif; font-weight: 500; border: 5px solid transparent;">СПРАВКА ПО РЕЗУЛЬТАТАМ РЕЖИМА "РИСОВАНИЕ"</h1>
                </div>
            </div>
            <div class="p de_026A006CB7">Результаты раунда режима &quot;Рисование&quot; (Drawing).</div>
            <div class="p de_026A006CB7">На данной странице пользователю предлагается ознакомиться с результатами раунда, а также увидеть эталонное изображение границ.</div>
            <div class="p de_38B3956165"><img  alt="" style="border: solid 0px #000000;  " width="65%" height="65%" class="de_custom_img de_780D01ADE8" src="{{ url_for('static', filename='usermanual/imgs/4.png') }}"/></div>
            <div class="p de_026A006CB7">1 – Кнопка перезапуска игры.</div>
            <div class="p de_026A006CB7">2 – Эталонное изображение границ страны, которую требовалось нарисовать.</div>
            <div class="p de_026A006CB7">3 – Нарисованное пользователем в текущем раунде изображение границ страны.</div>
            <div class="p de_026A006CB7">4 – Процент схожести рисунка пользователя с эталонным изображением границ страны, которую необходимо было нарисовать.</div>
        </div>
    </article>
{% endblock %}

